/* General rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* * {
  border: 1px solid red;
} */
body {
  margin: 0;
  overflow-x: hidden;
}
.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}

/* Typography */
.nav__list {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
}
.hero a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.875;
  color: #a59678;
}
.before-Primary p,
.sidebar p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  color: #a59678;
}
.primary-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}
.sidebar p,
.sidebar h3 {
  color: #fff;
}
.footer-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
footer h5 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3125rem;
  color: #a59678;
}
footer li,
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
}

/* NavBar */
.nav {
  width: 100%;
}
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #2e323f;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  /* font-size: 1rem; */
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__item {
  margin-top: 0.5em;
  text-transform: uppercase;
}

.nav__list--primary {
  margin-bottom: 2em;
}
.nav__link--button {
  padding: 0.25em 0.75em;
  background: #a59678;
  border-radius: 2em;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}
.logo {
  height: 30px;
}
.hamburger {
  width: 50%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}
.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}
/* Layout */
span {
  color: #a59678;
}
header {
  background-color: #2e323f;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.container {
  width: 88%;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: relative;
}
.hero {
  background-color: #3b4050;
  padding: 1em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #a59678;
  padding: 0.25em 1.5em;
  border-radius: 100px;
  margin: 1em 0;
}
.before-Primary {
  background-color: #f1f1f1;
  padding: 1em;
}
.before-Primary__content {
  text-align: center;
}
.primary-content {
  padding: 1em;
}
.cart {
  background-color: #3b4050;
  padding: 1.5em;
  text-align: center;
  
}
.cart + .cart {
  margin-top: 2em;
}
.footer-title {
  margin: 0 0 0 1.5em;
  text-align: center;

}
footer {
  background-color: #2e323f;
  padding: 1em;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__link {
  color:#a59678;
}
.footer__link:hover,
.footer__link:focus {
  opacity: 0.65;
}
h5 {
  margin: 0.5em 0;
}

@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    justify-content: flex-end;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .hero__title {
    width: 52%;
  }

  .hero__blabla {
    width: 42%;
    align-self: flex-end;
    margin: 0;
  }
  .before-Primary .row {
    display: block;
  }
  .primary-content .row {
    flex-direction: column;
  }
  .sidebar .row {
    flex-direction: row;
  }
  .cart + .cart {
    margin: 0 0 0 0.7em;
  }
  footer .row {
    display: block;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: 1000px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero__title {
    width: 45%;
    font-size: 4rem;
  }
  .before-Primary .row {
    display: flex;
    justify-content: space-between;
  }
  .primary-content .row {
    flex-direction: row;
  }
  .sidebar .row {
    flex-direction: column;
  }
  .primary-content__first {
    width: 60%;
  }
  .sidebar {
    width: 30%;
  }
  .cart + .cart {
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-about {
    width: 40%;
  }
  .footer .row {
    display: flex;
  }
  .footer-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .footer__item + .footer__item {
    margin: 0;
  }
  .footer-title {
    margin: 0 0 2em 0;
  }
  
}